{% comment %} {% capture powered_by_link %} {{ 'footer.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a>.{% endcapture %} {% endcomment %}
<div class="footer-copyright">
  <div class="footer-copyright__left">
    &copy; {{ 'now' | date: "%Y" }} <span class="driven-red">DRIVEN LIFESTYLE</span>. All Rights Reserved.
  </div>
  <div class="footer-copyright__right">
    <a href="/pages/privacy-policy" class="footer-copyright__link">Privacy Policy</a>
    <a href="/pages/terms-and-conditions" class="footer-copyright__link">Terms &amp; Conditions</a>
  </div>
</div>