<div class="policy-content">
  <h2>COOKIE POLICY</h2>
  <p><strong>(last updated 1st July 2025)</strong></p>
  <h3>1. WHAT IS THIS COOKIE POLICY FOR?</h3>
  <p>This website (&ldquo;Site&rdquo;) uses cookies, pixels or similar tracking technologies (&ldquo;Cookies&rdquo;) to distinguish you from other users, providing you with the best possible user experience when you browse our Site and allows us to improve its features.</p>
  <p>This Cookie Policy describes the Cookies we may use on this Site and their purpose. You should also check our Privacy Policy regarding how we use your personal data when you use our Site. <strong>BY USING OUR SITE YOU CONSENT TO US USING COOKIES AS DESCRIBED IN THIS POLICY.</strong></p>
  <h3>2. WHAT ARE COOKIES?</h3>
  <p>Cookies are small pieces of data that are stored on your computer, or other device when you access a website. Pixels, also known as web beacons or web bugs, are small blocks of code on webpages and in emails that do things like allow another computer server to measure viewing of a webpage. These are often are used in conjunction with Cookies. Cookies enable our computer servers to collect information from your computer or device about how you interact with our Site. You can find more background information about cookies at: <a href="https://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>
  <h3>3. HOW WE USE COOKIES</h3>
  <p>We use Cookies to help us better understand how our Site is used and to provide you with a more user-friendly experience when you access our online services. For example, using information about your previous visits to our Site, we can tailor content to match your particular interests when you revisit our Site or use any services on it.</p>
  <p>Cookies will never be used by us to collect your sensitive personal data or financial details, such as credit card information. You can disable Cookies by adjusting the settings on your web browser (e.g. Internet Explorer; Safari; Chrome; Firefox or Opera) although this may affect your ability to fully utilise our Site.</p>
  <p>We may also use Cookies for the following purposes:</p>
  <ul>
    <li><strong>Authentication:</strong> to recognise you if you are signed in to our Site.</li>
    <li><strong>Security:</strong> We may use Cookies to enable security features on our Site and help us detect any security threats or potential illegal activity.</li>
    <li><strong>Performance:</strong> Some Cookies may collect information about user visits to our Site, for example which web pages visitors use most often. We might also use these performance Cookies to highlight services which we think will be of interest to you based on your previous use of our Site. To help us monitor visitor traffic to our website and understand how our Site is used, we have enabled a third party software tool &lsquo;Google Analytics&rsquo; to collect data about our Site traffic. Visitors have the ability to opt-out of Google Analytics features we use. For more information please click <a href="#">here</a>. Performance cookies like these do not routinely collect information that personally identifies a visitor by name so the impact on your personal privacy should be minimal.</li>
    <li><strong>Functionality:</strong> Some Cookies allow our Site to remember information from your previous visits, such as contact details you previously submitted. For example, when you complete an online form (such as when you register for a service) we will use a cookie which (if you agree) will help remember your details if you use the same computer to complete another form on our Site without you having to re-enter them. These Cookies may also be used to provide information you request such as publications or newsletters.</li>
  </ul>
  <h3>4. STRICTLY NECESSARY COOKIES</h3>
  <p>Some Cookies are essential in order to enable you to navigate our Site or to enable you to receive a particular service you have requested. Such Cookies are regarded as &lsquo;strictly necessary&rsquo; and we do not need to ask your permission to use them.</p>
  <h3>5. THIRD PARTY COOKIES</h3>
  <p>Our Site may also allow third parties to download Cookies to your device. For example if you choose to &lsquo;share&rsquo; content from our Site with friends through a third party site such as Facebook or another social network, you may be sent Cookies from these third party service providers over which we have no control. If you choose to share such content, you should check the relevant third party services provider&rsquo;s terms/policies for more information about cookies that they use.</p>
  <h3>6. CONTACT</h3>
  <p>Questions, comments or requests regarding this Cookie Policy should be addressed to <a href="mailto:inquiries@supercarownerscircle.com">inquiries@supercarownerscircle.com</a>.</p>
</div>
